In [1]:
import pandas as pd
import numpy as py

In [2]:
df = pd.read_csv('new1_drugsComTrain_raw (1).csv')

In [3]:
df.head()

   Physician_ID Expected_TRx
0             0      neutral
1             1     positive
2             2     positive
3             3     positive
4             4     positive

In [4]:
df.isnull()

   Physician_ID  Expected_TRx
0         False         False
1         False         False
2         False         False
3         False         False
4         False         False

In [5]:
df.dropna()

   Physician_ID Expected_TRx
0             0      neutral
1             1     positive
2             2     positive
3             3     positive
4             4     positive

In [6]:
df.head()

   Physician_ID Expected_TRx
0             0      neutral
1             1     positive
2             2     positive
3             3     positive
4             4     positive

In [7]:
df1 = df.copy()
df1["Physician_ID"] = df1["Physician_ID"].astype("str")
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Physician_ID  5 non-null      object
 1   Expected_TRx  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Physician_ID  5 non-null      object
 1   Expected_TRx  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [20]:
df['Physician_ID'] = df['Physician_ID'].map(str)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Physician_ID  5 non-null      object
 1   Expected_TRx  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [22]:
import os
os.getcwd()

'/Users/shaikthasneem/Downloads'

In [23]:
os.chdir('/Users/shaikthasneem/Downloads')

In [24]:
df.to_csv('new2Drugs.csv')

In [16]:
"df[\"Physician_ID\"] = df[\"Physician_ID\"].astype(\"int\")\n",

('df["Physician_ID"] = df["Physician_ID"].astype("int")\n',)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Physician_ID  5 non-null      int64
 1   Expected_TRx  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [18]:
"df[\"Physician_ID\"] = df[\"Physician_ID\"].astype(\"str\")\n",

('df["Physician_ID"] = df["Physician_ID"].astype("str")\n',)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Physician_ID  5 non-null      int64
 1   Expected_TRx  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes